.form-page {
    height: 100vh;
    overflow: hidden;
}

.form-heading {
    text-align: center;
    margin: 25px 0 0 0;
}

.form-title {
    margin: 0;
    font-size: 40px;
}

.form-description {
    margin: 0;
}

.post-text-fields  {
    display: flex;
    flex-direction: column;
    margin: 7px 20px;
}

#dark .post-text-fields label {
    color: rgba(255, 247, 247, 0.919);
}

#dark .Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #d32f2f;
}

#dark .Mui-error { 
    color: #d32f2f;
}

#dark .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.Mui-error {
    color: #d32f2f;
}

#dark .Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #d32f2f;
}

.devmo-form.MuiFormControl-root.MuiTextField-root.outlined-basic {
    margin: 10px;
}

#dark .MuiOutlinedInput-notchedOutline {
    border-color: white;
}

.MuiFormControl-root.MuiTextField-root.outlined-basic {
    margin: 10px;
}

.MuiFormControl-root.MuiTextField-root.file-name {
    margin: 10px;
}

#dark .MuiInputBase-input {
    color: white;
}

.multi-select {
    margin: 10px 7px;
    font-family: sans-serif;
    border: none;
    z-index: 5;
}

.multi-select span {
    display: block;
}

.options {
    height: 190px;
}

.MuiFormControl-root {
    width: auto;
    margin: 8px 0px;
}

.MuiFormHelperText-root.component-helper-text {
    margin: 0px 0px 4px 10px;
}

#dark .MuiFormHelperText-root.component-helper-text {
    color: white;
}

.update-btn-div {
    display: flex;
    justify-content: center;
}

.update-post-btn {
    color: white;
    padding: 15px 55px;
    border-radius: 5px;
    text-align: center;
    margin: 0px 30px;
}

#cancel-btn {
    background: rgb(235, 234, 234);
    color: black;
    cursor: pointer;
}

#save-btn {
    background: #264DE4;
    cursor: pointer;
}

#share-btn {
    background: #264DE4;
    cursor: pointer;
}

label .Mui-error {
    color: green;
}

#share-btn:hover {
    background: #1f42cd;
}

#save-btn:hover {
    background: #1f42cd;
}

#cancel-btn:hover {
    background: rgb(215,215,215);
}

div > form > div.form-container > div.post-text-fields > div.MuiFormControl-root {
    margin: 10px;
    width: auto;
}

/***********LEVEL 2***********/
@media screen and (min-width: 850px) {
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .post-text-fields {
        width: 800px;
    }

    .update-btn-div {
        width: 800px;
    }
}

/***********LEVEL 2 (HEIGHT)***********/
@media screen and (min-height: 900px) {
    .form-heading {
        text-align: center;
        margin: 40px 0;
    }

    .gallery-title {
        font-size: 50px;
    }

    .gallery-description {
        font-size: 19.2px;
    }

    .MuiFormControl-root.MuiTextField-root.outlined-basic {
        margin: 12px 0px;
    }

    .devmo-form.MuiFormControl-root.MuiTextField-root.outlined-basic {
        margin: 12px 0px;
    }

    .MuiFormControl-root.MuiTextField-root.file-name {
        margin: 14px 0px 12px 0px;
    }

    .MuiFormControl-root {
        width: auto;
        margin: 12px 0px;
    }
    
    .MuiFormHelperText-root.component-helper-text{
        margin: 0px 0px 6px 10px;
    }
  }