.form-page {
    height: 100vh;
    overflow: hidden;
}

.form-heading {
    text-align: center;
    margin: 30px 0 0 0;
}

.form-title {
    margin: 0;
    font-size: 40px;
}

.form-description {
    margin: 0;
}

.post-text-fields  {
    display: flex;
    flex-direction: column;
    margin: 7px 20px;
}

.MuiFormControl-root.MuiTextField-root.file-name {
    margin: 12px 7px;
}

.multi-select {
    margin: 10px 7px;
    font-family: sans-serif;
    border: none;
}

.submit-post-btn {
    margin: 0px 28px;
    text-align: center;
    background: #264DE4;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.multi-select span {
    display: block;
}