.form-page {
    height: 100vh;
    overflow: hidden;
}

.form-heading {
    text-align: center;
    margin: 30px 0 0 0;
}

.form-title {
    margin: 0;
    font-size: 40px;
}

.form-description {
    margin: 0;
}

.post-text-fields  {
    display: flex;
    flex-direction: column;
    margin: 7px 20px;
}

#dark .post-text-fields label {
    color: rgba(255, 247, 247, 0.919);
}

#dark .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #d32f2f;
}

#dark .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root.Mui-error { 
    color: #d32f2f;
}

#dark .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-error {
    color: #d32f2f;
}

#dark .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #d32f2f;
}

.devmo-form.MuiFormControl-root.MuiTextField-root.outlined-basic {
    margin: 10px 10px 10px 10px;
}

#dark .MuiOutlinedInput-notchedOutline {
    border-color: white;
}

.MuiFormControl-root.MuiTextField-root.outlined-basic {
    margin: 10px;
}

.MuiFormControl-root.MuiTextField-root.file-name {
    margin: 12px 10px 10px 10px;
}

#dark .MuiInputBase-input {
    color: white;
}

.multi-select {
    margin: 10px 7px;
    font-family: sans-serif;
    border: none;
    z-index: 5;
}

.multi-select span {
    display: block;
}

.options {
    height: 190px;
}

.MuiFormControl-root.css-ptt77l-MuiFormControl-root {
    width: auto;
    margin: 10px;
}

.MuiFormHelperText-root.component-helper-text.css-1d1r5q-MuiFormHelperText-root {
    margin: 0px 15px 6px 15px;
}

#dark .MuiFormHelperText-root.component-helper-text.css-1d1r5q-MuiFormHelperText-root {
    color: white;
}

#dark > div > form > div.post-text-fields > div.MuiFormControl-root.css-ptt77l-MuiFormControl-root > div > svg {
    color: white;
}

.update-btn-div {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.update-post-btn {
    color: white;
    padding: 15px 55px;
    border-radius: 5px;
}

#cancel-btn {
    background: rgb(235, 234, 234);
    color: black;
}

#save-btn {
    background: #264DE4;
}

#share-btn {
    background: #264DE4;
}

label .Mui-error {
    color: green;
}