.project-card {
    border-radius: 20px;
    box-shadow: rgba(4, 0, 86, 0.35) 0px 5px 15px;
    background-color: white;
    margin: 35px 0px;
    height: 485px;
    width: 320px;
}

#dark .project-card {
    box-shadow: rgba(97, 97, 97, 0.944) 0px 5px 15px;
    background-color: rgb(40, 40, 40);
}

.card-thumbnail {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-middle {
    margin: 10px 30px;
    height: 46%;
    position: relative;
}

.show-hide-icon {
    cursor: pointer;
}

.show-hide-icon-div {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#dark .show-hide-icon {
    color: white;
}

.card-lg-text {
    font-size: 22px;
    margin: 0;
}

#dark .card-lg-text {
    color: white;
}

.card-md-text {
    font-size: 14px;
    margin: 0px;
}

#dark .card-md-text {
    color: white;
}

.card-sm-text {
    font-size: 11px;
    margin: 0px;
}

#dark .card-sm-text {
    color: white;
}

.card-top {
    height: 35%;
}

.card-top-section-container {
    margin: 20px 0px 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-github-icon {
    width: 20px;
    height: 100%;
    cursor: pointer;
}

#dark .card-github-icon {
    color: white;
}

.card-section-container {
    margin: 15px 0px;
}

.card-tech-chips {
    display: flex;
    flex-wrap: wrap;
}

.card-user-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card-user-btn {
    display: flex;
    align-items: center;
}

.card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
}

.demo-btn {
    background-color: #264DE4;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    position: relative;
}

.open-demo-icon {
    margin: 0 10px 0 0;
    width: 12px;
}

.demo-btn:hover {
    background: #1f42cd;
}

.demo-btn.open-demo-icon {
    transition: transform 0.5s;
}

.demo-btn:hover .open-demo-icon {
    transform: rotate(10deg);
    animation: rock 0.5s infinite;
}

.card-number {
    margin: 0 18.5px;
}

a {
    text-decoration: none;
    color: black;
}

.heart-icon {
    width: 25px;
    margin: 0 15px 0 10px;
}

.likes-container {
    display: flex;
    align-items: center;
}

.card-user-btn {
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#light .card-user-btn {
    border: .5px solid black;
}

#dark .card-user-btn {
    border: .5px solid white;
}

.update-delete-icon {
    width: 12px;
    margin: 0 5px 0 0;
}

#dark .update-delete-icon {
    color: white;
}

.card-github-icon .heart-icon {
    transition: transform 0.5s;
}

.card-github-icon:hover {
    transform: rotate(10deg);
    animation: rock 0.5s infinite;
}

.heart-icon:hover {
    transform: rotate(10deg);
    animation: rock 0.5s infinite;
}

.card-user-btn {
    position: relative;
}

.card-user-btn.update-delete-icon {
    position: absolute;
    transition: transform 0.5s;
}

.card-user-btn:hover .update-delete-icon {
    transform: rotate(10deg);
    animation: rock 0.5s infinite;
}

.css-r47a1p-MuiFormControl-root {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
}

#dark .css-i4bv87-MuiSvgIcon-root {
    color: white;
}

@keyframes rock {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

/***********LEVEL 2 (HEIGHT)***********/
@media screen and (min-height: 900px) {
    .project-card {
        scale: 1.1;
    }
}