.project-card {
    margin: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

.card-thumbnail {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-middle {
    margin: 10px 30px;
}

.card-lg-text {
    font-size: 30px;
    margin: 0;
}

.card-md-text {
    font-size: 16px;
    margin: 0px;
}

.card-sm-text {
    font-size: 12px;
    margin: 0px;
}

.card-top-section-container {
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-github-icon {
    width: 25px;
    height: 100%;
    cursor: pointer;
}

.card-section-container {
    margin: 15px 0px;
}

.card-tech-chips {
    display: flex;
    flex-wrap: wrap;
}

.card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.demo-btn {
    background-color: #264DE4;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.card-number {
    margin: 0 18.5px;
}

