.side-nav {
    position: absolute;
    background-color: #264DE4;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: calc(100vh - 60.7px);
    width: 175px;
    left: -100%;
    transition: .8s;
    z-index: 10;
    overflow-y: hidden;
    border-bottom-right-radius: 10px;
}

.side-nav.active {
    left: 0px;
    overflow-y: hidden;
}

.side-nav-list {
    padding: 0;
    overflow-y: hidden;
}

.nav-lists {
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link {
    text-decoration: none;
}

.list-element {
    list-style-type: none;
    color: white;
    font-size: 20px;
    margin: 5px 0px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-element:hover {
    background: #5376ff;
}

.nav-icon {
    width: 15px;
    margin: 0 10px 0 0;
}

.nav-text {
    margin: 0;
}