.side-nav {
    position: absolute;
    background-color: rgb(255, 255, 255);
    background-color: #264DE4;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 94vh;
    width: 175px;
    left: -100%;
    transition: .8s;
    z-index: 10;
}

.side-nav.active {
    left: 0px;
}

.side-nav-list {
    padding: 0;
}

.nav-lists {
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
}

.link {
    text-decoration: none;
}

.list-element {
    list-style-type: none;
    color: white;
    font-size: 20px;
    margin: 5px 0px;
    padding: 10px;
    text-align: center;
}

.list-element:hover {
    background: #5376ff;
}
