.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .2px solid black; 
  height: 60px;
}

#dark .top-nav {
  border-bottom: .2px solid white; 
}

.left-nav {
  display: flex;
  align-items: center;
}

.right-nav {
  margin: 0 10px;
  display: flex;
  align-content: center;
}

.full-logo {
  display: flex;
}

.inline-logo-text {
  font-size: 55px;
  margin: 15px 0 0 0;
  color: #264DE4;
}

.inline-logo-image {
  width: 50px;
}

.form-link {
  display: flex;
}

.post-btn {
  width: 30px;
  margin: 0px 5px;
}

.profile-btn {
  background-color: #264DE4;
  width: 30px;
  border-radius: 10px;
  margin: 0px 10px 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initials-text {
  margin: 0;
  font-size: 13px;
  color: white;
}

/***********LEVEL 2***********/
@media screen and (min-width: 750px) and (max-width: 1200px) {
  .post-btn {
    margin: 0 7.5px;
  }

  .profile-btn {
    margin: 0 12.5px 0 6.25px;
  }
}

/***********LEVEL 3***********/
@media screen and (min-width: 1201px) {
  .post-btn {
    margin: 0 7.5px;
  }

  .profile-btn {
    margin: 0 12.5px 0 6.25px;
  }
}

/***********LEVEL 2 (HEIGHT)***********/
@media screen and (max-height: 800px) {
  .top-nav {
    height: 8vh;
  }
}