/***********LEVEL 1***********/
.gallery-page {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.gallery-heading {
    text-align: center;
    margin: 20px 0 0 0;
}

.gallery-title {
    margin: 0;
    font-size: 40px;
}

#dark .gallery-title {
    color: white;
}

.gallery-description {
    margin: 0;
}

#dark .gallery-description {
    color: white;
}

.gallery-main {
    height: 94vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.swiper-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-items: center;
}

.swiper {
    display: flex;
    align-items: flex-start;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    position: relative;
    margin-top: 20px;
}

.swiper-pagination {
    position: relative;
}

#light .swiper-pagination-bullet {
    background-color: black;
}

#dark .swiper-pagination-bullet {
    background-color: white;
}

.breakpointOne {
    display: block;
}

.breakpointTwo {
    display: none;
}

.breakpointThree {
    display: none;
}

/***********LEVEL 2***********/
@media screen and (min-width: 750px) and (max-width: 1200px) {
    .breakpointOne {
        display: none;
    }

    .breakpointTwo {
        display: block;
    }

    .breakpointThree {
        display: none;
    }
}

/***********LEVEL 3***********/
@media screen and (min-width: 1201px) {
    .breakpointOne {
        display: none;
    }

    .breakpointTwo {
        display: none;
    }

    .breakpointThree {
        display: block;
    }
}

/***********LEVEL 2 (HEIGHT)***********/
@media screen and (max-height: 800px) {
    .gallery-main {
      height: 92vh;
    }
  }

