.gallery-page {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.gallery-heading {
    text-align: center;
    margin: 30px 0;
}

.gallery-title {
    margin: 0;
    font-size: 40px;
}

#dark .gallery-title {
    color: white;
}

.gallery-description {
    margin: 0;
}

#dark .gallery-description {
    color: white;
}


.gallery-main {
    height: 100vh;
    position: relative;

}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper {
    height: 72vh;
}

#light .swiper-pagination-bullet {
    background-color: black;
}

#dark .swiper-pagination-bullet {
    background-color: white;
}