.auth-page {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.text-fields {
    display: flex;
    flex-direction: column;
    margin: 7px 20px;
}

.auth-heading {
    text-align: center;
    margin: 30px 0px;
}

.auth-title {
    margin: 0;
    font-size: 40px;
}

.auth-description {
    margin: 0;
}

#dark .auth-heading {
    color: white;
}

#dark .text-fields label {
    color: white;
}

.auth-form.MuiFormControl-root.MuiTextField-root.outlined-basic {
    margin: 10px;
}

div > form > div.text-fields > div.MuiFormControl-root.auth-form.outlined-basic.css-r47a1p-MuiFormControl-root {
    width: auto;
}

.auth-button {
    margin: 0px 28px;
    text-align: center;
    background: #264DE4;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.auth-button:hover {
    background: #1f42cd;
    cursor: pointer;
}

.switch {
    text-align: center;
}

#dark .switch {
    color: white;
}

.bold {
    text-decoration: underline;
}

#dark > div > form > div.text-fields > div.MuiFormControl-root.auth-form.outlined-basic.css-r47a1p-MuiFormControl-root > div > div > button > svg {
    color: white;
}

#dark .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #d32f2f;
}

/***********LEVEL 2 (HEIGHT)***********/
@media screen and (min-height: 900px) {
    .auth-heading {
        text-align: center;
        margin: 40px 0 0 0;
    }

    .auth-title {
        font-size: 50px;
    }

    .auth-description {
        font-size: 19.2px;
    }
}