.auth-page {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.text-fields {
    display: flex;
    flex-direction: column;
    margin: 7px 20px;
}

.auth-heading {
    text-align: center;
    margin: 30px 0px 0px 0px;
    font-size: 40px;
}

.MuiFormControl-root.MuiTextField-root.outlined-basic {
    margin: 10px;
}

.auth-button {
    margin: 0px 28px;
    text-align: center;
    background: #264DE4;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.auth-button:hover {
    background: #1f42cd;
    cursor: pointer;
}

.switch {
    text-align: center;
}

.bold {
    text-decoration: underline;
}